################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DeliriumBot/Resources.resx
/DeliriumBot/Resources.Designer.cs
